alabaster==0.7.12
asgiref==3.3.1
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.2.3
dj-database-url==0.5.0
Django==3.1.5
django-extensions==3.1.0
django-heroku==0.0.0
django-selenium-login==2.0.0
docutils==0.16
gevent==21.1.2
geventhttpclient==1.4.4
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
locust==1.4.3
MarkupSafe==1.1.1
msgpack==1.0.2
packaging==20.9
psutil==5.8.0
Pygments==2.7.4
pyparsing==2.4.7
pytz==2020.5
pyzmq==22.0.2
requests==2.25.1
selenium==3.141.0
six==1.15.0
snowballstemmer==2.1.0
sqlparse==0.4.1
urllib3==1.26.2
Werkzeug==1.0.1
whitenoise==5.2.0
zope.event==4.5.0
zope.interface==5.2.0
