{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>

<div class="tile">
    <form method="POST"> {% csrf_token %}
        <div class="tile-grid">
            <div id="login-inputs" class="tile-content">
                <h3 id="login-inputs__title">Login</h3>
                {% for input in form %}
                <h6>{{ input.label }} {{ input }}</h6>
                {% endfor %}
            </div>
            <div id="login-buttons" class="tile-buttons">
                <input id="submit-button" type="submit" value="Login"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}