{% extends 'base/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tile-reg.css' %}" />
{% endblock %}

{% block content %}

<div class="title">Rejestracja</div>

<form action="{% url 'registration' %}" method="post">
    {% csrf_token %}

    {{ management_form }}

    <!-- ZAWODNICY -->
    <div class="tile">
        <h3>Krok 1. Dane zawodników</h3>

        <div class="tile-grid">
            <div>
                <h4>Kapitan</h4>
                <h6>Na adres e-mail kapitana Zostaną wysłane dane logowania zespołu</h6>

                <div class="form-grid">
                    {% for field in captain %}
                        {% if field != captain.id %}
                            {{ field.label_tag }}
                        {% endif %}

                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-0-{{field.name}}" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tile-grid-line"></div>

            <div>
                <h4>Zawodnik</h4>
                <h6>Drugi zawodnik w zespole</h6>

                <div class="form-grid">
                    {% for field in participant1 %}
                        {% if field != participant1.id %}
                            {{ field.label_tag }}
                        {% endif %}

                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-1-{{field.name}}" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="tile-grid-line"></div>

            <div>
                <h4>Zawodnik</h4>
                <h6>Trzeci zawodnik w zespole</h6>

                <div class="form-grid">
                    {% for field in participant2 %}
                        {% if field != participant2.id %}
                            {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-2-{{field.name}}" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

    <!-- NAZWA ZESPOLU -->
    <div class="tile">
        <h3>Krok 2. Nazwa zespołu</h3>

        <div class="tile-grid">
            <div>
                <h6>Nadaj unikalną nazwę zespołowi</h6>

                <div class="form-grid">
                    {% for field in team %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-name" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- WYBÓR PLACÓWKI EDUKACYJNEJ -->
    <div class="tile">
        <h3>Krok 3. Wybór placówki edukacyjnej</h3>

        <div class="tile-grid">
            <div>
                <h6>Wybierz reprezentowaną uczelnię/szkołę</h6>

                <div class="form-grid">
                    {% for field in institution %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-institution" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- ZAWODY -->
    <div class="tile">
        <h3>Krok 4. Wybór zawodów</h3>

        <div class="tile-grid">
            <div>
                <h6>Wybierz zawody, na które zespół zostanie zapisany</h6>

                <div class="form-grid">
                    {% for field in competition %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if competition_error %}
                            <h6 id="id_error-competition" class="form-grid-error">{{ competition_error }}</h6>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- REJESTRACJA UZUPELNIAJĄCA -->
    <div class="tile">
        <h3>Krok 5 (tylko dla szkół średnich). Kod autoryzacyjny, dane opiekuna oraz priorytet</h3>

        {% if need_compliment %}
            <h4 id="id_error-compliment" class="form-grid-error">Dla wybranej placówki edukacyjnej wymagane są dane uzupełniające</h4>
        {% endif %}

        <div class="tile-grid">
            <div>
                <h6>Wybrana szkoła wymaga wprowadzenia kodu autoryzacyjnego, danych opiekuna zespołu oraz nadania priorytetu</h6>

                <div class="form-grid">
                    {% for field in compliment %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if need_compliment and field.errors %}
                            {% for error in field.errors %}
                                <h6 id="id_error-compliment-{{field.name}}" class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- SUBMIT -->
    <input id='id_submit' class="tile-submit" type="submit" value="Zarejestruj zespół">

</form>
{% endblock %}