<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/meta.html' %}

    {% block head %}
    {% endblock %}

</head>

<body>
    <header>
        {% if user.is_authenticated %}
            {% include 'base/topbar.html' %}
            {% include 'base/sidebar.html' %}
        {% else %}
            {% include 'base/topbar-guest.html' %}
            {% include 'base/sidebar-guest.html' %}
        {% endif %}


    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

{% block scripts %}
{% endblock %}

</html>