<input type="checkbox" id="check"/>
<label for="check"><i class="fas fa-bars" id="btn-sidebar"></i></label>
<nav class="sidebar">
    <a id="sidebar-home" href="{% url 'home' %}">
        <div id="sidebar-home__indicator" class="indicator"></div>
        <i class="fas fa-home fa-lg"></i><span>Home</span>
    </a>
    <a id="sidebar-comps" href="{% url 'comps' %}">
        <div id="sidebar-comps__indicator" class="indicator"></div>
        <i class="far fa-calendar fa-lg"></i><span>Zawody</span>
    </a>
    <a id="sidebar-rank" href="{% url 'rank' %}">
        <div id="sidebar-rank__indicator" class="indicator"></div>
        <i class="fas fa-list-ol fa-lg"></i><span>Ranking</span>
    </a>
    <a id="sidebar-tasks" href="{% url 'tasks' %}">
        <div id="sidebar-tasks__indicator" class="indicator"></div>
        <i class="far fa-edit fa-lg"></i><span>Zadania</span>
    </a>
    <a id="sidebar-solutions"  href="{% url 'solutions' %}">
        <div id="sidebar-solutions__indicator" class="indicator"></div>
        <i class="fas fa-code fa-lg"></i><span>Rozwiązania</span>
    </a>
    <a id="sidebar-notices" href="../notes">
        <div id="sidebar-notices__indicator" class="indicator"></div>
        <i class="far fa-comment-alt fa-lg"></i><span>Uwagi</span>
    </a>
    <a id="sidebar-settings" href="../settings" class="icon-settings">
        <div id="sidebar-settings__indicator" class="indicator"></div>
        <i class="fas fa-cog fa-lg"></i><span>Ustawienia</span>
    </a>
</nav>