<input type="checkbox" id="check"/>
<label for="check"><i class="fas fa-bars" id="btn-sidebar"></i></label>
<nav id="sidebar-menu" class="sidebar">
    <a id="sidebar-home" href="{% url 'home' %}">
        <div id="sidebar-home__indicator" class="indicator"></div>
        <i class="fas fa-home fa-lg"></i><span>Home</span>
    </a>
    <a id="sidebar-comps" href="{% url 'comps' %}">
        <div id="sidebar-comps__indicator" class="indicator"></div>
        <i class="far fa-calendar fa-lg"></i><span>Zawody</span>
    </a>
    <a id="sidebar-rank" href="{% url 'rank' %}">
        <div id="sidebar-rank__indicator" class="indicator"></div>
        <i class="fas fa-list-ol fa-lg"></i><span>Ranking</span>
    </a>
</nav>