.modal-dialog .tile {
    position: relative;
    max-width: 800px;
    min-height: calc(100% - 3.5rem);
    box-shadow: none;
    pointer-events: auto;
}

.tile-content select {
    background-color: white;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 5px;
    border: dotted 1px #bbbbbb;
    border-radius: 2px;
    font-size: medium;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-dialog .tile-buttons {
    right: 20px;
}

.modal-dialog .tile-grid {
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: 25px;
}

.modal-dialog .tile-content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.modal-dialog .tile-buttons {
    grid-column-start: 2;
    grid-column-end: 3;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    width: 100%;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}
