html {
    background-color: #f5f5f5;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    position: relative;
    display: block;
    padding: 150px 50px 0 130px;
    }

.topbar {
    position: fixed;
    z-index: 1;
    background: white;
    padding: 20px;
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 10px #eeeeee;
}

.topbar-logo {
    position: absolute;
}

.topbar h3 {
    color: black;
    font-size: 35px;
    font-weight: 100; 
    margin: 0;
    position: absolute;
    left: 150px;
    top: 25px;
}

.topbar-buttons {
    position: absolute;
    right: 60px;
    top: 25px;
}

.topbar-profile img{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    right: 90px;
    top: 20px;
}

.sidebar {
    z-index: 1;
    background: white;
    position: fixed;
    height: 100%;
    width: 70px;
    padding: 0 0 0 10px;
    top: 100px;
    left: 0;
    box-shadow: 5px 5px 10px #eeeeee;
    transition: 0.5s;
    transition-property: width;
}

.sidebar a {
    position: relative;
    color: black;
    display: block;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    text-decoration: none;
    box-sizing: border-box;
}

.sidebar a:hover .indicator {
    display: block;
    position: absolute;
    background-color: black;
    display: block;
    width: 10px;
    height: 50px;
    left: -10px;
    box-sizing: border-box;
}

.indicator-active {
    display: block;
    position: absolute;
    background-color: black;
    display: block;
    width: 10px;
    height: 50px;
    left: -10px;
    box-sizing: border-box;
}

.sidebar span {
    position: absolute;
    left: 80px;
    opacity: 0;
}

.indicator {
    display: none;
}

.icon-settings {
    margin-top: 310px;
    position: absolute;
}

label #btn-sidebar {
    z-index: 1;
    color: black;
    position: fixed;
    cursor: pointer;
    left: 110px;
    top: 42px;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
}

label #btn-sidebar:hover {
    color:tomato;
}

#check{
    display: none;
}

#check:checked ~ .sidebar {
    width: 210px;
}

#check:checked ~ .sidebar a span {
    opacity: 1;
    transition: 0.3s;
}


.tile {
    background-color: white;
    display: block;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #dddddd;
}

.tile-grid {
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: 25px;
    background-color: white;
}

.tile-content {
    grid-column-start: 1;
    grid-column-end: 2;
}

.tile-buttons {
    grid-column-start: 2;
    grid-column-end: 3;
    display: block;
    width: 250px;
}

.tile-buttons a {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid #bbbbbb 1px;
    color: black;
    font-size: medium;
    font-weight: lighter;
    text-decoration: none;
}

.tile-content h3 {
    font-size: x-large;
    font-weight: 400;
    margin: 0;
}

.tile-content h6 {
    font-size: medium;
    font-weight: lighter;
    margin: 10px 0 10px 0;
}

.tile-content h5 {
    display: inline;
    float: right;
    font-size: medium;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.tile-content article {
    display: block;
    font-size: small;
    font-weight: 300;
    text-align: justify;
}

.button-primary {
    background-color: #AF1C06;
    border: hidden;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #dddddd;
    text-decoration: none;
}

.button-primary:hover {
    background-color: #96200E;
}

.button-secondary {
    background-color: transparent;
    border: hidden;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button-secondary:hover {
    box-shadow: 1px 1px 5px #dddddd;
}