{% extends 'base.html' %}

{% block content %}
        <div class="title">Zadania</div>

        <div class="tile">
            <form>
                <div class="tile-grid">
                    <div class="tile-content">
                        <input type="text" id="challenge-title" placeholder="Tytuł zadania" class="input-title">
                        <h5>Sesja dla studentów</h5>
                        <h6>Zawody dla studentów lato 2021</h6>
                    </div>
                    <div class="tile-content-2">
                        <textarea id="challenge-text" placeholder="Wprowadź treść zadania"
                            class="input-text"></textarea>
                    </div>

                    <div class="tile-buttons">
                        <a href="#"><span>Anuluj</span></a>
                        <a href="#"><span>Zapisz zmiany</span></a>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}