{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css"
      href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css"
      href="{% static 'css/buttons.css' %}" />
<link rel="stylesheet" type="text/css"
      href="{% static 'css/tile.css' %}" />
<meta name="description" content="Buzkashi - Zawody w programowaniu zespołowym" />
<meta name="keywords" content="zawody, pwr, programowanie, informatyka" />
<!--<link rel="icon" type="image/png" href="./img/favicon.png" />-->
<title>Buzkashi</title>