{% extends 'base.html' %}

{% load static %}

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/tile-r.css' %}" />

        <div class="time">Czas pozostały do końca zawodów: 00:00</div>
        <div class="title">Ranking - nazwa zawodów</div>

        <div class="ranks">
            <div class="tile">
                <h3>Ranking aktualny</h3>
                <div class="tile-grid">
                    <h5>Pozycja</h5>
                    <h5>Nazwa zespołu</h5>
                    <h5>Zadania rozwiązane</h5>
                    <h5>Czas</h5>

                    {% for team in teams %}
                        <p>{{ forloop.counter }}</p>
                        <p>{{ team.name }}</p>
                        <p>4</p>
                        <p>{{ team.score }}</p>
                    {% endfor %}

                </div>
            </div>

            <div class="tile">
                <h3>Ranking zamrożony</h3>
                <div class="tile-grid">
                    <h5>Pozycja</h5>
                    <h5>Nazwa zespołu</h5>
                    <h5>Zadania rozwiązane</h5>
                    <h5>Czas</h5>

                    <p>1</p>
                    <p>Czarni rycerze</p>
                    <p>4</p>
                    <p>0:00:00</p>

                </div>
            </div>
        </div>

{% endblock %}