{% extends 'base/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tile-reg.css' %}" />
{% endblock %}

{% block content %}

<div class="title">Rejestracja</div>

<form action="{% url 'registration' %}" method="post">
    {% csrf_token %}

    {{ management_form }}

    <!-- RZAWODNICY -->
    <div class="tile">
        <h3>Krok 1. Dane zawodników</h3>

        <div class="tile-grid">
            <div>
                <h4>Kapitan</h4>
                <h6>Na adres e-mail kapitana Zostaną wysłane dane logowania zespołu</h6>

                <div class="form-grid">
                    {% for field in captain %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tile-grid-line"></div>

            <div>
                <h4>Zawodnik</h4>
                <h6>Drugi zawodnik w zespole</h6>

                <div class="form-grid">
                    {% for field in participant1 %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="tile-grid-line"></div>

            <div>
                <h4>Zawodnik</h4>
                <h6>Trzeci zawodnik w zespole</h6>

                <div class="form-grid">
                    {% for field in participant2 %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

    <!-- NAZWA ZESPOLU -->
    <div class="tile">
        <h3>Krok 2. Nazwa zespołu</h3>

        <div class="tile-grid">
            <div>
                <h6>Nadaj unikalną nazwę zespołowi</h6>

                <div class="form-grid">
                    {% for field in team %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- WYBÓR PLACÓWKI EDUKACYJNEJ -->
    <div class="tile">
        <h3>Krok 3. Wybór placówki edukacyjnej</h3>

        <div class="tile-grid">
            <div>
                <h6>Wybierz reprezentowaną uczelnię/szkołę</h6>

                <div class="form-grid">
                    {% for field in institution %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- REJESTRACJA UZUPELNIAJĄCA -->
    <div class="tile">
        <h3>Krok 4. Kod autoryzacyjny, dane opiekuna oraz priorytet (tylko dla szkół średnich)</h3>

        {% if need_compliment %}
            <h4 style="color: red">Dla wybranej placówki edukacyjnej wymagane są dane uzupełniające</h4>
        {% endif %}

        <div class="tile-grid">
            <div>
                <h6>Wybrana szkoła wymaga wprowadzenia kodu autoryzacyjnego, danych opiekuna zespołu oraz nadania priorytetu</h6>

                <div class="form-grid">
                    {% for field in compliment %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <h6 class="form-grid-error">{{ error }}</h6>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- SUBMIT -->
    <input class="tile-submit" type="submit" value="Zarejestruj zespół">

</form>
{% endblock %}