{% extends 'base/base.html' %}

{% block head %}
<style>

    .tile h3 {
        margin: 0 0 10px 0;
        font-size: x-large;
        font-weight: 400;
    }

</style>
{% endblock %}


{% block content %}

<div class="title">Rozwiązania</div>

<div class="tile">
    <h3>{{ competition_name|default:'Brak odbywających się zawodów' }}</h3>
    <table class="table table-fixed">
        <thead>
            <tr>
                <th style="width: 10%">Lp.</th>
                <th>Zespół</th>
                <th>Czas rozwiązania</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for solution in solutions %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ solution.author.name }}</td>
                <td>46 min</td>
                <td><a class="light-link" href="{% url 'solution_results' solution_id=solution.id %}">Szczegóły</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>---</td>
                <td>---</td>
                <td>---</td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}