{% extends 'base/base.html' %}

{% block head %}

<!-- Highlight js library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

<style>

    .tile h3 {
        margin: 0 0 10px 0;
        font-size: x-large;
        font-weight: 400;
    }

}

</style>

{% endblock %}

{% block content %}

<div style="float: right">
    <a href="{% url 'solutions_results' solution_id=1 %}" class="button-secondary">Wyniki testów</a>
    <a href="{% url 'solutions_code' solution_id=1 %}" class="button-secondary button-secondary-active-black">Kod źródłowy</a>
</div>

<div class="title">
    <a class="light-link" href="{% url 'solutions' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    Rozwiązanie zespołu Czarni rycerze
</div>

<div class="tile">

    <h3 style="float: right">C#</h3>
    <h3>Kod źródłowy</h3>

    <div class="tile-grid">

        <div class="tile-grid-span">

        <pre>
            <code class="cs">
using System;

namespace HelloWorld
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
        }
    }
}
            </code>
        </pre>

         </div>

        <div class="tile-buttons">
            <a href="#"><span>Zaakceptuj</span></a>
            <a href="#"><span>Odrzuć</span></a>
        </div>



    </div>

</div>

{% endblock %}

{% block scripts %}

<script>
        hljs.initHighlightingOnLoad();
</script>

{% endblock %}