.button-primary {
    background-color: #AF1C06;
    border: hidden;
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #dddddd;
    text-decoration: none;
}

.button-primary:hover {
    background-color: #96200E;
}

.button-secondary {
    background-color: transparent;
    border: hidden;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button-secondary:hover {
    box-shadow: 1px 1px 5px #dddddd;
}

.button-secondary-active-black {
    box-shadow: inset 0 -2px 0 black;
}