{% extends 'base/base.html' %}

{% block head %}

<!-- Highlight js library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

<style>

    .tile h3 {
        margin: 0 0 10px 0;
        font-size: x-large;
        font-weight: 400;
    }

}

</style>

{% endblock %}

{% block content %}

<div style="float: right">
    <a href="{% url 'solution_results' solution_id=solution.id %}" class="button-secondary">Wyniki testów</a>
    <a href="{% url 'solution_code' solution_id=solution.id %}" class="button-secondary button-secondary-active-black">Kod źródłowy</a>
</div>

<div class="title">
    <a class="light-link" href="{% url 'solutions' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    Rozwiązanie zespołu {{ solution.author.name }}
</div>

<div class="tile">

    <h3 style="float: right">{{ solution.programming_language }}</h3>
    <h3>Kod źródłowy</h3>

    <div class="tile-grid">

        <div class="tile-grid-span">

        <pre><code>{{ source_code }}</code></pre>

         </div>

        <div class="tile-buttons">
            <a href="{% url 'solution_judgement' solution_id=solution.id decision='accept' %}"><span>Zaakceptuj</span></a>
            <a href="{% url 'solution_judgement' solution_id=solution.id decision='reject' %}"><span>Odrzuć</span></a>
            <a href="{% url 'solution_judgement' solution_id=solution.id decision='disqualify' %}"><span>Dyskwalifikuj</span></a>
        </div>



    </div>

</div>

{% endblock %}

{% block scripts %}

<script>
        hljs.initHighlightingOnLoad();
</script>

{% endblock %}