{% extends 'base/base.html' %}

{% block content %}

<div id="tasks__title" class="title">Zadania</div>

{% for task in tasks %}
<div id="tasks__tile" class="tile">
    <div class="tile-grid">
        <div class="tile-content">
            <h3 id="tasks__tile__task-title">{{ task.title }}</h3>
            {% if task.competition != None %}
            {% if task.competition.session == 1 %}
            <h5 id="tasks__tile__task-session-uni">Sesja dla studentów</h5>
            {% elif task.competition.session == 2 %}
            <h5 id="tasks__tile__task-session-school">Sesja dla szkół</h5>
            {% endif %}
            <h6 id="tasks__tile__task-competition-titile">{{ task.competition.title }}</h6>
            {% endif %}
            <article id="tasks__tile__task-body">{{ task.body|linebreaks }}</article>
        </div>
        <div id="tasks__tile__task-buttons" class="tile-buttons">
            <a href="{% url 'task_edit' task_id=task.id %}">
                <span id="tasks__tile__task-buttons__edit">Edytuj zadanie</span>
            </a>
            <a href="#">
                <span id="tasks__tile__task-buttons__tests">Dodaj testy akceptacyjne</span>
            </a>
            <input id="tasks__tile__task-buttons__competition" type="button" data-toggle="modal"
                   data-target="#exampleModal" data-whatever="{{ task.id }}" value="Dodaj do zawodów"/>
        </div>
    </div>
</div>

{% include 'tasks/modal.html' %}

{% endfor %}

<a id="tasks__task-create-button" href="{% url 'task_create' %}">
    <input id="create-button" class="tile-submit" type="button" value="Dodaj nowe zadanie"/>
</a>

{% endblock %}